@font-face {
  font-family: "Title Text";
  src: url("font/SedgwickAveDisplay-Regular.ttf");
}

@font-face {
  font-family: "Bold Text";
  src: url("font/PermanentMarker-Regular.ttf");
}

@font-face {
  font-family: "Accent Text";
  src: url("font/SassyFrass-Regular.ttf");
}

@font-face {
  font-family: "Body Text";
  src: url("font/ShadowsIntoLight-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-body-background: hsl(0 0% 10%);
  --color-body-font: hsl(0 0% 80%);
  --color-font-action: magenta;
  --font-accent: "Accent Text";
  --font-bold: "Bold Text";
  --font-title: "Title Text";
}

body {
  background-color: var(--color-body-background);
  color: var(--color-body-font);
  font-family: "Body Text";
  font-size: 25px;
}
